<!--<p>This is the footer!</p>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

<!-- SCRIPTS -->
<script src="/js/jquery.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="/js/dataTables.bootstrap4.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/script.js"></script>
<script src="/js/my.js"></script>
<script src="/js/selects.js"></script>

<script>
    $(document).ready(function() {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            autoclose: true,
            todayHighlight: true
        };
        date_input.datepicker(options);
    })
</script>


<script>
    $('#datetimepicker').datetimepicker({
        timepicker: false,
        format: 'm/d/y',
        "setDate": new Date(),
        autoClose: true
    });
</script>


</body>

<script type="text/javascript">

$(document).ready(function(){
	$('.table').footable();
});

</script>

</html>