<%- include ('partials/header') -%>

<div class="container">
<header class="jumbotron">
    <div class = "container">
        <h1>Welcome to the TruSponse Notify Demo</h1>
            <h4>A CRUD style app built with NodeJS/Express/MongoDB</h4>
            <p class="header-info">
                    <% if(!currentUser){ %>
                        <!--<a class = "btn btn-primary btn-lg" href="/login3">Login</a>-->
                        <!--<p>Login to get started!<p>-->
                    <% } else { %>
                        <a class = "btn btn-primary btn-lg button-landing" href="/prospects"><i class="fas fa-glasses"></i>  View All Prospects</a>
                        <a class = "btn btn-primary btn-lg button-landing" href="/prospects/new"><i class="fas fa-plus"></i>  Add a New Prospect</a>
                        <a class = "btn btn-secondary btn-lg button-landing" href="/logout"><i class="fas fa-sign-out-alt"></i>  Logout</a>   
                    <% } %>
            </p>
    </div>
</header>

<div class = "row">
    <div class = "col-lg-12">
        <!--<h3>Welcome!</h3>-->
    </div>
</div>

</div>

<%- include ('partials/footer') -%>