<%- include ('partials/header') -%>

<div class="container container-header">
<!-- <header class="jumbotron"> -->
    <div class = "container py-5">
        <h1>Welcome to the TruSponse Notify Demo</h1>
            <h4>A CRUD style app built with NodeJS/Express/MongoDB</h4>
            <div class="row">
                <div class="col-sm-12 col-action">
                    <div class="inner-action">
                        <ul id="button-actions">
                            <% if(!currentUser){ %>
                                <!--<a class = "btn btn-primary btn-lg" href="/login3">Login</a>-->
                                <!--<p>Login to get started!<p>-->
                            <% } else { %>
                                <li><a class = "btn btn-primary btn-lg button-landing" href="/prospects"><i class="fas fa-glasses"></i>  View All Prospects</a></li>
                                <li><a class = "btn btn-success btn-lg button-landing" href="/prospects/new"><i class="fas fa-plus"></i>  Add a New Prospect</a></li>
                                <li><a class = "btn btn-lg btn-default btn-block btn-return" href="/logout"><i class="fas fa-sign-out-alt"></i>  Logout</a></li> 
                            <% } %>
                        </ul>
                    </div>
                    

                </div>
            </div>
            
    </div>
<!-- </header> -->

</div>

<div class="container container-actions">
    <div class = "row">
        <div class = "col-lg-12">
            
                
            
        </div>
    </div>
</div>


<%- include ('partials/footer') -%>